#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow > div > img {
    max-width: 230px;
    max-height: 230px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    border: 3px solid #f1f1f1;
    z-index: 10;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form-container input[type=email], .form-container input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #b8b8b8;
}

.form-container .btn {
    border-radius: 2px;
    cursor: pointer;
}

.form-popup.btn:hover, .open-button:hover {
    opacity: 1;
}