html {
    scroll-behavior: smooth;
}

body {
    background-color: goldenrod;
}

nav {
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: maroon;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(131, 60, 9);
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

#bigTitle {
    display: block;
    font-size: 7vw;
    text-align: center;
}

/* Styles the order button*/
#btnOrder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:40px;
}

/* BEGIN menu styles */
#menuBG {
    width: 800px;
    height: 470px;
    margin: 10px auto;
}


#frmMenu {
    column-count: 3;
    column-rule-style: solid;
    height: auto;
    white-space: nowrap;
    text-align: left;
  /*  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  */
}

.menu {
    padding: 0 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 100%;
}

.left {
    float: left;
    width:100%;
    height: 200px;
    top: 0;
}
.center {
    float: right;
    width:100%;
    height: 200px;
}
.right {
    float: right;
    width:100%;
    height:200px;
}
/*END menu styles */

/* Displays the order and price */
#cart {
    top:2em;
    margin:0px auto;
    width: 400px;
    height:200px;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float:right;
}

/*Callback section */
#callback {
    display: block;
    margin-top: 100px;
    text-align: center;
}

#callback input[type=tel] {
    margin-left: 5em;
    display: block;
    margin:auto;
}

/* Button used to open the popup form - fixed at the bottom of the page */
.open-button {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/*The popup form, hidden by default */
.form-popup {
    display: none;
    position:fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* input fields */
.form-container input[type=email], .form-container input[type=password] {
    max-width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px, 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/*Add a red background color to the cancel button */
.form-popup .cancel {
    background-color: red;
}

/*Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity:1;
}

/* Footer images */
#pepperoni {
    border-radius: 50%;
    max-width: 40%;
    height: auto;
    display: block;
    float:left;
    margin-top: 2em;
    animation: pizzafade 2s infinite;
    z-index: -1;
}

@keyframes pizzafade {
    0% {opacity: 0}
    100% {opacity: 1}
    0% {opacity: 0}
}

#freshZa {
    border-radius: 8px;
    max-width: 45%;
    height: auto;
    display: block;
    float: right;
    margin-top: 6em;
    margin-right:2em;
    animation: pizzaZoomInOut 5s infinite;
}

@keyframes pizzaZoomInOut {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2,1.2);}
    100% {transform: scale(1,1);}
}
